





#transition1 {
    width: 500px;
    height: 300px;


    position: relative;
    -webkit-animation-name: t1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s ; /* Safari 4.0 - 8.0 */
    animation-name: t1;
    animation-duration: 20s infinite;

    animation-iteration-count:infinite;
}

#transition2 {
    width: 500px;
    height: 300px;


    position: relative;
    -webkit-animation-name: t2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s ; /* Safari 4.0 - 8.0 */
    animation-name: t2;
    animation-duration: 20s infinite;

    animation-iteration-count:infinite;
    /* animation-delay: 15s; */
}

#transition3 {
    width: 500px;
    height: 300px;


    position: relative;
    -webkit-animation-name: t3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s ; /* Safari 4.0 - 8.0 */
    animation-name: t3;
    animation-duration: 20s infinite;

    animation-iteration-count:infinite;
    /* animation-delay: 15s; */
}


#transition4 {
    width: 500px;
    height: 300px;


    position: relative;
    -webkit-animation-name: t4; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s ; /* Safari 4.0 - 8.0 */
    animation-name: t4;
    animation-duration: 20s infinite;

    animation-iteration-count:infinite;
    /* animation-delay: 15s; */
}









/* Safari 4.0 - 8.0 */
@-webkit-keyframes t1 {
    0%   { left:0px; top:500px;}

    100% {opacity: 0; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes t1 {
  0%   { left:0px; top:500px;}

  100% {opacity: 0; left:0px; top:0px;}
}




/* Safari 4.0 - 8.0 */
@-webkit-keyframes t2 {
    0%   { opacity: 0;left:0px; top:-200px;}
    50%  {opacity: 1;}
    60%  {opacity: 1;}

    100% {opacity: 0; left:0px; top:600px;}
}

/* Standard syntax */
@keyframes t2 {
  0%   {opacity: 0; left:0px; top:-200px;}
  50%  {opacity: 1;}
  60%  {opacity: .6;}
  100% {opacity: 0; left:0px; top:400px;}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes t3 {
  0%   { opacity: 0;left:0px; top:-200px;}
  20%  {opacity: .1; left: 400px; top:-300px}
  40%  {opacity: .5; left: 0px;  top:-400px}
  60%  {opacity: 1;left: 400px;  top:-500px}
  80%  {left: 0px; }

  100% {opacity: 0; left:400px; top:-600px;}
}

/* Standard syntax */
@keyframes t3 {
  0%   { opacity: 0;left:0px; top:-200px;}
  20%  {opacity: .1; left: 400px; top:-300px}
  40%  {opacity: .5; left: 0px;  top:-400px}
  60%  {opacity: 1;left: 400px;  top:-500px}
  80%  {left: 0px; }

  100% {opacity: 0; left:400px; top:-600px;}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes t4 {
  0%   { opacity: 0;left:0px; top:-200px;}
  20%  {opacity: .1; left: 400px; top:-300px}
  40%  {opacity: .5; left: 0px;  top:-400px}
  60%  {opacity: 1;left: 400px;  top:-500px}
  80%  {left: 0px; opacity: .4px; }

  100% {opacity: 0; left:400px; top:-600px;}
}

/* Standard syntax */
@keyframes t4 {
  0%   { opacity: 0;left:0px; top:-200px;}
  20%  {opacity: .1; left: -800px; top:-400px}
  40%  {opacity: .1; left: -400px;  top:-600px}
  60%  {opacity: .5;left: 300px;  top:-500px}
  70%  {opacity: .8;left: -500px;  top:200px}
  80%  {left: 0px; opacity: 1; }
  90%  {left: -600px; opacity: 1; top:-400; }

  100% {opacity: 0; left:400px; top:-800px;}
}
